
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/normalize.css' %}">
<link rel="stylesheet" href="{% static 'blog/scripts/jstree/dist/themes/default/style.min.css' %}"
 />
<script type='text/javascript' src="{% static 'blog/scripts/jquery-2.1.1.min.js' %}"></script>
<script type='text/javascript' src="{% static 'blog/scripts/jstree/dist/jstree.min.js' %}"></script>


<script type='text/javascript'>
$(window).load(function(){
	$(".button").click(function(){
		var t = "[data-boxiter=" + $(this).attr('data-buttoniter') + "]";
		if($(this).html() == "-"){
			$(this).html("+");
		}
		else{
			$(this).html("-");
		}
		$(t).slideToggle();
	});
});


</script>